<!DOCTYPE html>
<html>
<head>
    <!-- Подключение CSS-стилей Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Подключение JS-скриптов Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Подключение jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

    <title>Приложение</title>

</head>
<body>
<h1>Заголовок страницы</h1>
<p>Текст страницы</p>
<button class="btn btn-primary">Кнопка</button>
</body>
</html>