<!DOCTYPE html>
<html>
<head>
    <!-- Подключение CSS-стилей Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Подключение JS-скриптов Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Подключение jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

    <title>Приложение</title>

</head>
<div th:fragment="navigation(activeTab)">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item" th:classappend="${activeTab == 'Home' ? 'active' : ''}">
                        <a class="nav-link active" aria-current="page" th:href="@{/}">Главная</a>
                    </li>
                    <li class="nav-item" th:classappend="${activeTab == 'shop' ? 'active' : ''}">
                        <a class="nav-link" th:href="@{/shop}">Продукты</a>
                    </li>
                    <li class="nav-item" th:classappend="${activeTab == 'shop' ? 'active' : ''}">
                        <a class="nav-link" th:href="@{/cart}">Корзина</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown link
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</html>